.cust-login-card {
  position: relative;
  top: -25rem;
  left: 37rem;
  padding: 0;
  z-index: 5;
  width: 45%;
  width: 80rem;
  height: 57rem;
}

/* .cd {
  border-radius: 8rem 5rem 1rem 1rem;
  border: none;
  background: #00aa57;
} */

.cust-form-card {
  position: relative;
  top: 16rem;
  width: 35%;
  left: 5rem;
}

.cust-tagline {
  font-size: 1.4rem;
  color: white;
  text-align: right;
  padding-right: 1.5rem;
  margin-top: 0.5rem;
}

.cust-sidelogo {
  position: relative;
  top: 30%;
  width: 45%;
}

.cust-bg-th1 {
  background-color: var(--bs-th1);
  border: none;
}
.cust-bg-th2 {
  background-color: var(--bs-th2);
  border: none;
}
.cust-bg-th8 {
  background-color: var(--bs-th8);
}

.cust-text-th2 {
  color: var(--bs-th2);
}
.cust-fill-th2 {
  fill: var(--bs-th2);
}

.cust-f-sidebar {
  margin: 0;
  font-size: 0.7rem;
  color: var(--bs-th5);
}

.cust-f-review-card {
  margin: 0;
  font-size: 0.7rem;
  color: var(--bs-th2);
}

.cust-btn {
  border: 1px solid black;
  color: #000;
  --bs-btn-focus-box-shadow: "none";
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-th2);
  --bs-btn-active-border-color: var(--bs-th2);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--bs-th2);
  --bs-btn-hover-border-color: var(--bs-th2);
}

.cust-upload-btn {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-th2);
  /* --bs-btn-border-color: #fff; */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-th2);
  /* --bs-btn-hover-border-color: #000 !important; */
}

.cust-upload-btn:hover {
  box-shadow: 2px 2px 17px -3px grey;
}

.cust-tooltip .cust-tooltiptext {
  visibility: hidden;
  text-align: center;
  border-radius: 0.5rem;
  top: 3.3rem;
  right: 2.8rem;
  font-size: 0.7rem;
  background-color: #ececec;
  color: black;
  padding: 0.5rem;
  font-weight: 500;
  position: absolute;
  z-index: 1;
}

.cust-tooltip:hover .cust-tooltiptext {
  visibility: visible;
}
.cust-tooltip:hover .cust-tooltiptext2 {
  visibility: visible;
}

.cust-tooltiptext2 {
  visibility: hidden;
  text-align: center;
  border-radius: 0.5rem;
  top: 3.3rem;
  right: 0.8rem;
  font-size: 0.7rem;
  background-color: #ececec;
  color: black;
  padding: 0.5rem;
  font-weight: 500;
  position: absolute;
  z-index: 1;
}

.cust-modal {
  display: block !important;
  opacity: 1 !important;
  transition: opacity 0.15s linear, display 1s linear;
}

/* .cust-fade {
  transition: opacity 0.15s linear, display 1s linear;
} */

.cust-shadow:hover {
  box-shadow: 1px 1px 8px -4px !important;
}
